.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background: none;
  }
  
  
  .logo {
    display: flex;
    align-items: center;
    width: 50%;
  }
  
  
  .logo img {
    max-height: 30px;
    margin-right: 10px;
    display: block;
  }
  
  
  .logo input[type="text"] {
    flex: 1;                         
    height: 48px;                    
    padding: 0 20px;                 
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 50px;             
    outline: none;
    background: #fff;
  }
  

  .logo input[type="text"]::placeholder {
    text-transform: uppercase;
    color: #999;
  }
  
  
  .logo button {
    margin-left: -50px;              
    padding: 0 16px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
    color: #777;
    z-index: 1;
  }
  
  
  .logo button:hover {
    color: #333;
  }
.nav{
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.nav a{
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}  

.main {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;         
    gap: 30px;             
    padding: 20px 0;
  }
  
 
  .main .item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .main .item img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  
  .main .item .caption {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-align: center;
  }
  .menu a{
    color: gray;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ;
}
